@namespace Share

@inherits Input

@typeparam TValue

<div class="relative z-0 w-full mt-1.5 group">
    <select id="@Id" value="@StringValue" @onchange="OnValueChange" disabled="@Disabled" class="appearance-none block px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer" placeholder=" ">
        @foreach (IOption<TValue> option in Options)
        {
            var value = (option.Value != null) ? option.Value.ToString() : string.Empty;
            <option class="bg-gray-900" value="@value">@option.Description</option>
        }
    </select>
    <label for="@Id" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-orange-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">@LabelText()</label>
    <p class="h-3.5 text-red-700 text-xs">@ErrorMessage()</p>
</div>