@namespace Share

@inherits Input

@typeparam TValue

<CascadingValue Value=this Name="radioGroup">
    <div class="m-1">
        <legend class="@InternalLabelClass">@Label</legend>
        <div class="mt-2 space-y-2">
            @{
                var selected = Options.FirstOrDefault(w => w.Value!.Equals(Value));
                foreach (IOption<TValue> option in Options)
                {
                    var optionChecked = false;
                    if (selected != null)
                    {
                        if (selected.Value != null)
                        {
                            if (selected.Value.Equals(option.Value))
                                optionChecked = true;
                        }
                    }

                    <RadioOption TValue="TValue" Option="@option" @key="@option?.Value?.ToString()" Checked="@optionChecked" Disabled="@Disabled"></RadioOption>
                }
            }
        </div>
        <p class="h-3.5 text-burnt-sienna-700 text-xs">@ErrorMessage()</p>
    </div>    
</CascadingValue>